<!DOCTYPE html>
<html>
<div style="margin:auto;width:20%">
<h1 style="color:red;text-align:center;">You dun goofed</h1>
<p>
░░░░░░░░░░░░░░▄▄▄▄▄▄▄▄▄▄▄▄░░░░░░░░░░░░░░<br>
░░░░░░░░░░░░▄████████████████▄░░░░░░░░░░<br>
░░░░░░░░░░▄██▀░░░░░░░▀▀████████▄░░░░░░░░<br>
░░░░░░░░░▄█▀░░░░░░░░░░░░░▀▀██████▄░░░░░░<br>
░░░░░░░░░███▄░░░░░░░░░░░░░░░▀██████░░░░░<br>
░░░░░░░░▄░░▀▀█░░░░░░░░░░░░░░░░██████░░░░<br>
░░░░░░░█▄██▀▄░░░░░▄███▄▄░░░░░░███████░░░<br>
░░░░░░▄▀▀▀██▀░░░░░▄▄▄░░▀█░░░░█████████░░<br>
░░░░░▄▀░░░░▄▀░▄░░█▄██▀▄░░░░░██████████░░<br>
░░░░░█░░░░▀░░░█░░░▀▀▀▀▀░░░░░██████████▄░<br>
░░░░░░░▄█▄░░░░░▄░░░░░░░░░░░░██████████▀░<br>
░░░░░░█▀░░░░▀▀░░░░░░░░░░░░░███▀███████░░<br>
░░░▄▄░▀░▄░░░░░░░░░░░░░░░░░░▀░░░██████░░░<br>
██████░░█▄█▀░▄░░██░░░░░░░░░░░█▄█████▀░░░<br>
██████░░░▀████▀░▀░░░░░░░░░░░▄▀█████████▄<br>
██████░░░░░░░░░░░░░░░░░░░░▀▄████████████<br>
██████░░▄░░░░░░░░░░░░░▄░░░██████████████<br>
██████░░░░░░░░░░░░░▄█▀░░▄███████████████<br>
███████▄▄░░░░░░░░░▀░░░▄▀▄███████████████<br>
<br>
You tried to access '#{@not_found_path}', which is not a valid page.
</p>
</div>
</html>