<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
<style>
* {margin:0;padding:0;} 
html, body {height: 110%;}
#wrap {min-height: 110%;}

#main {
  overflow:auto;
  padding-bottom: 100px; /* must be same height as the footer */
}

#footer {
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 120px;
  clear:both;
  /*background-color: #000000;*/
  background-image: url('/assets/footer_background.jpg');
  font-family: 'Josefin Sans', sans-serif;
} 

/*Opera Fix thanks to Maleika (Kohoutec)*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

#footer p {
	color: #D6D6D6;	
}
</style>

<div id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
			  <div align="center" style="color:#208AD6; font-size: normal; text-shadow: 0px 0px 6px black; margin-top:10px">
		          Have questions? Check out our <a href="/pages/FAQ" style="color:white; text-decoration:underline">FAQ!</a><br>
		          If you still have questions, <a href="/ContactUs" style="color:white; text-decoration:underline">Contact Us!</a>
			  </div>
			</div>
			<div class="col-md-4"></div>
		</div> <!-- Row -->

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8" style="font-size: normal">
				<p align="center" style="margin-top: 8px; margin-bottom: 0px">A website designed and created by Himal King, Daniel Cruz, Nick Schumacher, Michelle Young, and Josh Stuckey </p>
				<p align="center" style="margin-top: 0px; margin-bottom:10px; font-size: small"><i>Built for the use of students at Purdue University</i></p>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div> <!-- Container -->
</div>